:css
  body {
    background: #ffffff;
    margin: 0;
    font-family: Arial;
    font-size: 8pt;
    font-style: normal;
  }
  tr.R0 {
    height: 15px;
  }
  tr.R0 td.R0C1 {
    text-align: center;
    vertical-align: medium;
  }
  tr.R0 td.R10C1 {
    font-family: Arial;
    font-size: 8pt;
    font-style: normal;
    vertical-align: medium;
    border-left: #000000 1px solid;
    border-top: #ffffff 0px none;
    border-bottom: #000000 1px solid;
  }
  tr.R0 td.R12C1 {
    font-family: Arial;
    font-size: 14pt;
    font-style: normal;
    font-weight: bold;
    vertical-align: medium;
  }
  tr.R0 td.R21C1 {
    text-align: center;
    vertical-align: top;
    overflow: hidden;
    border-left: #000000 2px solid;
    border-top: #000000 1px solid;
  }
  tr.R0 td.R21C2 {
    vertical-align: top;
    border-left: #000000 1px solid;
    border-top: #000000 1px solid;
  }
  tr.R0 td.R21C3 {
    text-align: right;
    vertical-align: top;
    border-left: #000000 1px solid;
    border-top: #000000 1px solid;
  }
  tr.R0 td.R21C4 {
    vertical-align: top;
    border-left: #000000 1px solid;
    border-top: #000000 1px solid;
  }
  tr.R0 td.R21C6 {
    text-align: right;
    vertical-align: top;
    border-left: #000000 1px solid;
    border-top: #000000 1px solid;
    border-right: #000000 2px solid;
  }
  tr.R0 td.R6C1 {
    border-left: #000000 1px solid;
    border-bottom: #000000 1px solid;
    border-right: #000000 1px solid;
  }
  tr.R0 td.R8C1 {
    font-family: Arial;
    font-size: 9pt;
    font-style: normal;
    vertical-align: top;
    border-left: #000000 1px solid;
    border-top: #000000 1px solid;
  }
  tr.R14 {
    height: 9px;
  }
  tr.R14 td.R14C1 {
    border-bottom: #000000 2px solid;
  }
  tr.R14 td.R22C1 {
    border-top: #000000 2px solid;
  }
  tr.R16 {
    height: 33px;
  }
  tr.R16 td.R16C1 {
    font-family: Arial;
    font-size: 9pt;
    font-style: normal;
    vertical-align: top;
  }
  tr.R16 td.R16C5 {
    font-family: Arial;
    font-size: 9pt;
    font-style: normal;
    font-weight: bold;
    vertical-align: top;
  }
  tr.R4 {
    height: 17px;
  }
  tr.R4 td.R18C1 {
    font-family: Arial;
    font-size: 9pt;
    font-style: normal;
    vertical-align: top;
  }
  tr.R4 td.R18C5 {
    font-family: Arial;
    font-size: 9pt;
    font-style: normal;
    font-weight: bold;
    vertical-align: top;
  }
  tr.R4 td.R20C1 {
    font-family: Arial;
    font-size: 9pt;
    font-style: normal;
    font-weight: bold;
    text-align: center;
    vertical-align: medium;
    border-left: #000000 2px solid;
    border-top: #000000 2px solid;
  }
  tr.R4 td.R20C2 {
    font-family: Arial;
    font-size: 9pt;
    font-style: normal;
    font-weight: bold;
    text-align: center;
    vertical-align: medium;
    border-left: #000000 1px solid;
    border-top: #000000 2px solid;
  }
  tr.R4 td.R20C6 {
    font-family: Arial;
    font-size: 9pt;
    font-style: normal;
    font-weight: bold;
    text-align: center;
    vertical-align: medium;
    border-left: #000000 1px solid;
    border-top: #000000 2px solid;
    border-right: #000000 2px solid;
  }
  tr.R4 td.R23C5 {
    font-family: Arial;
    font-size: 9pt;
    font-style: normal;
    font-weight: bold;
    text-align: right;
    vertical-align: top;
  }
  tr.R4 td.R26C1 {
    font-family: Arial;
    font-size: 9pt;
    font-style: normal;
  }
  tr.R4 td.R30C1 {
    font-family: Arial;
    font-size: 9pt;
    font-style: normal;
    font-weight: bold;
  }
  tr.R4 td.R30C10 {
    text-align: right;
    border-bottom: #000000 1px solid;
  }
  tr.R4 td.R30C6 {
    border-bottom: #000000 1px solid;
  }
  tr.R4 td.R4C1 {
    font-family: Arial;
    font-size: 9pt;
    font-style: normal;
    vertical-align: top;
    border-left: #000000 1px solid;
    border-top: #000000 1px solid;
    border-right: #000000 1px solid;
  }
  tr.R4 td.R4C19 {
    font-family: Arial;
    font-size: 9pt;
    font-style: normal;
    vertical-align: medium;
    border-left: #000000 1px solid;
    border-top: #000000 1px solid;
    border-bottom: #000000 1px solid;
    border-right: #000000 1px solid;
  }
  tr.R4 td.R4C22 {
    font-family: Arial;
    font-size: 9pt;
    font-style: normal;
    vertical-align: medium;
    border-left: #000000 1px solid;
    border-top: #000000 1px solid;
    border-bottom: #ffffff 0px none;
    border-right: #000000 1px solid;
  }
  tr.R4 td.R7C1 {
    font-family: Arial;
    font-size: 9pt;
    font-style: normal;
    vertical-align: medium;
    border-left: #000000 1px solid;
    border-top: #000000 1px solid;
  }
  tr.R4 td.R7C19 {
    font-family: Arial;
    font-size: 9pt;
    font-style: normal;
    vertical-align: top;
    border-left: #000000 1px solid;
    border-top: #000000 1px solid;
    border-bottom: #000000 1px solid;
    border-right: #000000 1px solid;
  }
  tr.R4 td.R7C3 {
    font-family: Arial;
    font-size: 9pt;
    font-style: normal;
    vertical-align: medium;
    border-top: #000000 1px solid;
    border-right: #000000 1px solid;
  }
  tr.R5{
    height: 16px;
  }
  tr.R5 td.R5C19 {
    font-family: Arial;
    font-size: 9pt;
    font-style: normal;
    vertical-align: top;
    border-left: #000000 1px solid;
    border-top: #000000 1px solid;
    border-bottom: #000000 1px solid;
    border-right: #000000 1px solid;
  }
  tr.R5 td.R5C22 {
    font-family: Arial;
    font-size: 9pt;
    font-style: normal;
    vertical-align: top;
    border-left: #000000 1px solid;
    border-top: #ffffff 0px none;
    border-bottom: #000000 1px solid;
    border-right: #000000 1px solid;
  }
  table {
    table-layout: fixed;
    padding: 0px;
    padding-left: 2px;
    vertical-align: bottom;
    border-collapse: collapse;
    width: 100%;
    font-family: Arial;
    font-size: 8pt;
    font-style: normal;
  }
  td {
    padding: 0px;
    padding-left: 2px;
    overflow: hidden;
  }

%table{:cellspacing => "0", :style => "width:0px; height:0px; "}
  %col{:width => "7"}/
  %col{:width => "21"}/
  %col{:width => "21"}/
  %col{:width => "21"}/
  %col{:width => "21"}/
  %col{:width => "21"}/
  %col{:width => "21"}/
  %col{:width => "21"}/
  %col{:width => "21"}/
  %col{:width => "21"}/
  %col{:width => "21"}/
  %col{:width => "21"}/
  %col{:width => "21"}/
  %col{:width => "21"}/
  %col{:width => "17"}/
  %col{:width => "16"}/
  %col{:width => "17"}/
  %col{:width => "17"}/
  %col{:width => "21"}/
  %col{:width => "21"}/
  %col{:width => "21"}/
  %col{:width => "21"}/
  %col{:width => "21"}/
  %col{:width => "21"}/
  %col{:width => "21"}/
  %col{:width => "21"}/
  %col{:width => "21"}/
  %col{:width => "21"}/
  %col{:width => "21"}/
  %col{:width => "21"}/
  %col{:width => "21"}/
  %col{:width => "21"}/
  %col{:width => "11"}/
  %tr.R0
    %td
      %div{:style => "position:relative; height:15px;width: 100%; overflow:hidden;"}
        %span
    %td.R0C1{:colspan => "32", :rowspan => "3"}
      %div{:style => "width:100%;height:44px;overflow:hidden;"}
        Внимание! Оплата данного счета означает согласие с условиями поставки товара. Уведомление об оплате
        %br/
        обязательно, в противном случае не гарантируется наличие товара на складе. Товар отпускается по факту
        %br/
        прихода денег на р/с Поставщика, самовывозом, при наличии доверенности и паспорта.
    %td
      %div{:style => "width:100%;height:15px;overflow:hidden;"}
  %tr.R0
    %td
      %div{:style => "position:relative; height:15px;width: 100%; overflow:hidden;"}
        %span
    %td
      %div{:style => "width:100%;height:15px;overflow:hidden;"}  
  %tr.R0
    %td
      %span
    %td  
  %tr.R0
    %td
      %span
    %td
      %span
    %td
      %span
    %td
      %span
    %td
      %span
    %td
      %span
    %td
      %span
    %td
      %span
    %td
      %span
    %td
      %span
    %td
      %span
    %td
      %span
    %td
      %span
    %td
      %span
    %td
      %span
    %td
      %span
    %td
      %span
    %td
      %span
    %td
      %span
    %td
      %span
    %td
      %span
    %td
      %span
    %td
      %span
    %td
      %span
    %td
      %span
    %td
      %span
    %td
      %span
    %td
      %span
    %td
      %span
    %td
      %span
    %td
      %span
    %td
      %span
    %td
      %span
    %td  
  %tr.R4
    %td
      %span
    %td.R4C1{:colspan => "18", :rowspan => "2"}
      %div{:style => "width:100%;height:32px;overflow:hidden;"}
        = @doc.recipient_bank_name
    %td.R4C19{:colspan => "3"}
      %span{:style => "white-space:nowrap;max-width:0px;"} БИК
    %td.R4C22{:colspan => "11"}
      %span{:style => "white-space:nowrap;max-width:0px;"}
        = @doc.recipient_bank_bik
    %td
  %tr.R5
    %td
      %span
    %td.R5C19{:colspan => "3", :rowspan => "2"}
      %div{:style => "width:100%;height:30px;overflow:hidden;"}
        %span{:style => "white-space:nowrap;max-width:0px;"} Сч. №
    %td.R5C22{:colspan => "11", :rowspan => "2"}
      %div{:style => "width:100%;height:30px;overflow:hidden;"}
        %span{:style => "white-space:nowrap;max-width:0px;"}
          = @doc.recipient_bank_invoice_number
    %td
  %tr.R0
    %td
      %span
    %td.R6C1{:colspan => "18"}
      %span{:style => "white-space:nowrap;max-width:0px;"} Банк получателя
    %td
  %tr.R4
    %td
      %span
    %td.R7C1{:colspan => "2"}
      %span{:style => "white-space:nowrap;max-width:0px;"} ИНН
    %td.R7C3{:colspan => "7"}
      %span{:style => "white-space:nowrap;max-width:0px;"}
        = @doc.recipient_inn
    %td.R7C1{:colspan => "2"}
      %span{:style => "white-space:nowrap;max-width:0px;"} КПП  
    %td.R7C3{:colspan => "7"}
      %span{:style => "white-space:nowrap;max-width:0px;"}
        = @doc.recipient_kpp
    %td.R7C19{:colspan => "3", :rowspan => "4"}
      %div{:style => "width:100%;height:61px;overflow:hidden;"}
        %span{:style => "white-space:nowrap;max-width:0px;"} Сч. №
    %td.R7C19{:colspan => "11", :rowspan => "4"}
      %div{:style => "width:100%;height:61px;overflow:hidden;"}
        %span{:style => "white-space:nowrap;max-width:0px;"}
          = @doc.recipient_invoice_number
    %td
  %tr.R0
    %td
      %span
    %td.R8C1{:colspan => "18", :rowspan => "2"}
      %div{:style => "width:100%;height:29px;overflow:hidden;"}
        = @doc.recipient_name
    %td
  %tr.R0
    %td
      %span
    %td  
  %tr.R0
    %td
      %span
    %td.R10C1{:colspan => "18"}
      %span{:style => "white-space:nowrap;max-width:0px;"} Получатель
    %td
  %tr
    %td
      %span
    %td
      %span
    %td
      %span
    %td
      %span
    %td
      %span
    %td
      %span
    %td
      %span
    %td
      %span
    %td
      %span
    %td
      %span
    %td
      %span
    %td
      %span
    %td
      %span
    %td
      %span
    %td
      %span
    %td
      %span
    %td
      %span
    %td
      %span
    %td
      %span
    %td
      %span
    %td
      %span
    %td
      %span
    %td
      %span
    %td
      %span
    %td
      %span
    %td
      %span
    %td
      %span
    %td
      %span
    %td
      %span
    %td
      %span
    %td
      %span
    %td
      %span
    %td
      %span
    %td  
  %tr.R0
    %td
      %span
    %td.R12C1{:colspan => "32", :rowspan => "2"}
      %div{:style => "width:100%;height:29px;overflow:hidden;"}
        %span{:style => "white-space:nowrap;max-width:0px;"}
          Счет на оплату № 
          = @doc.invoice_number + " "
          от 
          = @doc.from_date + " "
          г.
    %td
  %tr.R0
    %td
      %span
    %td  
  %tr.R14
    %td
      %div{:style => "position:relative; height:9px;width: 100%; overflow:hidden;"}
        %span
    %td.R14C1{:colspan => "32"}
      %div{:style => "position:relative; height:9px;width: 100%; overflow:hidden;"}
        %span
    %td
      %div{:style => "width:100%;height:9px;overflow:hidden;"}  
  %tr.R14
    %td
      %div{:style => "position:relative; height:9px;width: 100%; overflow:hidden;"}
        %span
    %td
      %div{:style => "position:relative; height:9px;width: 100%; overflow:hidden;"}
        %span
    %td
      %div{:style => "position:relative; height:9px;width: 100%; overflow:hidden;"}
        %span
    %td
      %div{:style => "position:relative; height:9px;width: 100%; overflow:hidden;"}
        %span
    %td
      %div{:style => "position:relative; height:9px;width: 100%; overflow:hidden;"}
        %span
    %td
      %div{:style => "position:relative; height:9px;width: 100%; overflow:hidden;"}
        %span
    %td
      %div{:style => "position:relative; height:9px;width: 100%; overflow:hidden;"}
        %span
    %td
      %div{:style => "position:relative; height:9px;width: 100%; overflow:hidden;"}
        %span
    %td
      %div{:style => "position:relative; height:9px;width: 100%; overflow:hidden;"}
        %span
    %td
      %div{:style => "position:relative; height:9px;width: 100%; overflow:hidden;"}
        %span
    %td
      %div{:style => "position:relative; height:9px;width: 100%; overflow:hidden;"}
        %span
    %td
      %div{:style => "position:relative; height:9px;width: 100%; overflow:hidden;"}
        %span
    %td
      %div{:style => "position:relative; height:9px;width: 100%; overflow:hidden;"}
        %span
    %td
      %div{:style => "position:relative; height:9px;width: 100%; overflow:hidden;"}
        %span
    %td
      %div{:style => "position:relative; height:9px;width: 100%; overflow:hidden;"}
        %span
    %td
      %div{:style => "position:relative; height:9px;width: 100%; overflow:hidden;"}
        %span
    %td
      %div{:style => "position:relative; height:9px;width: 100%; overflow:hidden;"}
        %span
    %td
      %div{:style => "position:relative; height:9px;width: 100%; overflow:hidden;"}
        %span
    %td
      %div{:style => "position:relative; height:9px;width: 100%; overflow:hidden;"}
        %span
    %td
      %div{:style => "position:relative; height:9px;width: 100%; overflow:hidden;"}
        %span
    %td
      %div{:style => "position:relative; height:9px;width: 100%; overflow:hidden;"}
        %span
    %td
      %div{:style => "position:relative; height:9px;width: 100%; overflow:hidden;"}
        %span
    %td
      %div{:style => "position:relative; height:9px;width: 100%; overflow:hidden;"}
        %span
    %td
      %div{:style => "position:relative; height:9px;width: 100%; overflow:hidden;"}
        %span
    %td
      %div{:style => "position:relative; height:9px;width: 100%; overflow:hidden;"}
        %span
    %td
      %div{:style => "position:relative; height:9px;width: 100%; overflow:hidden;"}
        %span
    %td
      %div{:style => "position:relative; height:9px;width: 100%; overflow:hidden;"}
        %span
    %td
      %div{:style => "position:relative; height:9px;width: 100%; overflow:hidden;"}
        %span
    %td
      %div{:style => "position:relative; height:9px;width: 100%; overflow:hidden;"}
        %span
    %td
      %div{:style => "position:relative; height:9px;width: 100%; overflow:hidden;"}
        %span
    %td
      %div{:style => "position:relative; height:9px;width: 100%; overflow:hidden;"}
        %span
    %td
      %div{:style => "position:relative; height:9px;width: 100%; overflow:hidden;"}
        %span
    %td
      %div{:style => "position:relative; height:9px;width: 100%; overflow:hidden;"}
        %span
    %td
      %div{:style => "width:100%;height:9px;overflow:hidden;"}  
  %tr.R16
    %td
      %span
    %td.R16C1{:colspan => "4"}
      %span{:style => "white-space:nowrap;max-width:0px;"} Поставщик:
    %td.R16C5{:colspan => "28"}
      = @doc.provider
    %td
  %tr.R14
    %td
      %div{:style => "position:relative; height:9px;width: 100%; overflow:hidden;"}
        %span
    %td
      %div{:style => "position:relative; height:9px;width: 100%; overflow:hidden;"}
        %span
    %td
      %div{:style => "position:relative; height:9px;width: 100%; overflow:hidden;"}
        %span
    %td
      %div{:style => "position:relative; height:9px;width: 100%; overflow:hidden;"}
        %span
    %td
      %div{:style => "position:relative; height:9px;width: 100%; overflow:hidden;"}
        %span
    %td
      %div{:style => "position:relative; height:9px;width: 100%; overflow:hidden;"}
        %span
    %td
      %div{:style => "position:relative; height:9px;width: 100%; overflow:hidden;"}
        %span
    %td
      %div{:style => "position:relative; height:9px;width: 100%; overflow:hidden;"}
        %span
    %td
      %div{:style => "position:relative; height:9px;width: 100%; overflow:hidden;"}
        %span
    %td
      %div{:style => "position:relative; height:9px;width: 100%; overflow:hidden;"}
        %span
    %td
      %div{:style => "position:relative; height:9px;width: 100%; overflow:hidden;"}
        %span
    %td
      %div{:style => "position:relative; height:9px;width: 100%; overflow:hidden;"}
        %span
    %td
      %div{:style => "position:relative; height:9px;width: 100%; overflow:hidden;"}
        %span
    %td
      %div{:style => "position:relative; height:9px;width: 100%; overflow:hidden;"}
        %span
    %td
      %div{:style => "position:relative; height:9px;width: 100%; overflow:hidden;"}
        %span
    %td
      %div{:style => "position:relative; height:9px;width: 100%; overflow:hidden;"}
        %span
    %td
      %div{:style => "position:relative; height:9px;width: 100%; overflow:hidden;"}
        %span
    %td
      %div{:style => "position:relative; height:9px;width: 100%; overflow:hidden;"}
        %span
    %td
      %div{:style => "position:relative; height:9px;width: 100%; overflow:hidden;"}
        %span
    %td
      %div{:style => "position:relative; height:9px;width: 100%; overflow:hidden;"}
        %span
    %td
      %div{:style => "position:relative; height:9px;width: 100%; overflow:hidden;"}
        %span
    %td
      %div{:style => "position:relative; height:9px;width: 100%; overflow:hidden;"}
        %span
    %td
      %div{:style => "position:relative; height:9px;width: 100%; overflow:hidden;"}
        %span
    %td
      %div{:style => "position:relative; height:9px;width: 100%; overflow:hidden;"}
        %span
    %td
      %div{:style => "position:relative; height:9px;width: 100%; overflow:hidden;"}
        %span
    %td
      %div{:style => "position:relative; height:9px;width: 100%; overflow:hidden;"}
        %span
    %td
      %div{:style => "position:relative; height:9px;width: 100%; overflow:hidden;"}
        %span
    %td
      %div{:style => "position:relative; height:9px;width: 100%; overflow:hidden;"}
        %span
    %td
      %div{:style => "position:relative; height:9px;width: 100%; overflow:hidden;"}
        %span
    %td
      %div{:style => "position:relative; height:9px;width: 100%; overflow:hidden;"}
        %span
    %td
      %div{:style => "position:relative; height:9px;width: 100%; overflow:hidden;"}
        %span
    %td
      %div{:style => "position:relative; height:9px;width: 100%; overflow:hidden;"}
        %span
    %td
      %div{:style => "position:relative; height:9px;width: 100%; overflow:hidden;"}
        %span
    %td
      %div{:style => "width:100%;height:9px;overflow:hidden;"}  
  %tr.R4
    %td
      %span
    %td.R18C1{:colspan => "4"}
      %span{:style => "white-space:nowrap;max-width:0px;"} Покупатель:
    %td.R18C5{:colspan => "28"}
      = @doc.customer
    %td
  %tr.R14
    %td
      %div{:style => "position:relative; height:9px;width: 100%; overflow:hidden;"}
        %span
    %td
      %div{:style => "position:relative; height:9px;width: 100%; overflow:hidden;"}
        %span
    %td
      %div{:style => "position:relative; height:9px;width: 100%; overflow:hidden;"}
        %span
    %td
      %div{:style => "position:relative; height:9px;width: 100%; overflow:hidden;"}
        %span
    %td
      %div{:style => "position:relative; height:9px;width: 100%; overflow:hidden;"}
        %span
    %td
      %div{:style => "position:relative; height:9px;width: 100%; overflow:hidden;"}
        %span
    %td
      %div{:style => "position:relative; height:9px;width: 100%; overflow:hidden;"}
        %span
    %td
      %div{:style => "position:relative; height:9px;width: 100%; overflow:hidden;"}
        %span
    %td
      %div{:style => "position:relative; height:9px;width: 100%; overflow:hidden;"}
        %span
    %td
      %div{:style => "position:relative; height:9px;width: 100%; overflow:hidden;"}
        %span
    %td
      %div{:style => "position:relative; height:9px;width: 100%; overflow:hidden;"}
        %span
    %td
      %div{:style => "position:relative; height:9px;width: 100%; overflow:hidden;"}
        %span
    %td
      %div{:style => "position:relative; height:9px;width: 100%; overflow:hidden;"}
        %span
    %td
      %div{:style => "position:relative; height:9px;width: 100%; overflow:hidden;"}
        %span
    %td
      %div{:style => "position:relative; height:9px;width: 100%; overflow:hidden;"}
        %span
    %td
      %div{:style => "position:relative; height:9px;width: 100%; overflow:hidden;"}
        %span
    %td
      %div{:style => "position:relative; height:9px;width: 100%; overflow:hidden;"}
        %span
    %td
      %div{:style => "position:relative; height:9px;width: 100%; overflow:hidden;"}
        %span
    %td
      %div{:style => "position:relative; height:9px;width: 100%; overflow:hidden;"}
        %span
    %td
      %div{:style => "position:relative; height:9px;width: 100%; overflow:hidden;"}
        %span
    %td
      %div{:style => "position:relative; height:9px;width: 100%; overflow:hidden;"}
        %span
    %td
      %div{:style => "position:relative; height:9px;width: 100%; overflow:hidden;"}
        %span
    %td
      %div{:style => "position:relative; height:9px;width: 100%; overflow:hidden;"}
        %span
    %td
      %div{:style => "position:relative; height:9px;width: 100%; overflow:hidden;"}
        %span
    %td
      %div{:style => "position:relative; height:9px;width: 100%; overflow:hidden;"}
        %span
    %td
      %div{:style => "position:relative; height:9px;width: 100%; overflow:hidden;"}
        %span
    %td
      %div{:style => "position:relative; height:9px;width: 100%; overflow:hidden;"}
        %span
    %td
      %div{:style => "position:relative; height:9px;width: 100%; overflow:hidden;"}
        %span
    %td
      %div{:style => "position:relative; height:9px;width: 100%; overflow:hidden;"}
        %span
    %td
      %div{:style => "position:relative; height:9px;width: 100%; overflow:hidden;"}
        %span
    %td
      %div{:style => "position:relative; height:9px;width: 100%; overflow:hidden;"}
        %span
    %td
      %div{:style => "position:relative; height:9px;width: 100%; overflow:hidden;"}
        %span
    %td
      %div{:style => "position:relative; height:9px;width: 100%; overflow:hidden;"}
        %span
    %td
      %div{:style => "width:100%;height:9px;overflow:hidden;"}  
%table{:cellspacing => "0", :style => "width:0px; height:0px; "}
  %col{:width => "7"}/
  %col{:width => "32"}/
  %col{:width => "329"}/
  %col{:width => "54"}/
  %col{:width => "42"}/
  %col{:width => "87"}/
  %col{:width => "100"}/
  %tr.R4
    %td
      %span
    %td.R20C1
      %span{:style => "white-space:nowrap;max-width:0px;"} №
    %td.R20C2
      %span{:style => "white-space:nowrap;max-width:0px;"} Товары (работы, услуги)
    %td.R20C2
      %span{:style => "white-space:nowrap;max-width:0px;"} Кол-во
    %td.R20C2
      %span{:style => "white-space:nowrap;max-width:0px;"} Ед.
    %td.R20C2
      %span{:style => "white-space:nowrap;max-width:0px;"} Цена
    %td.R20C6
      %span{:style => "white-space:nowrap;max-width:0px;"} Сумма
    %td

  - @doc.goods.each_with_index do |good, index|
    %tr.R0
      %td
        %span
      %td.R21C1
        %span{:style => "white-space:nowrap;max-width:0px;"}
          = index + 1
      %td.R21C2
        = good[:name]
      %td.R21C3
        %span{:style => "white-space:nowrap;max-width:0px;"}
          = good[:count]
      %td.R21C4
        %span{:style => "white-space:nowrap;max-width:0px;"} шт
      %td.R21C3
        %span{:style => "white-space:nowrap;max-width:0px;"}
          = good[:price]
      %td.R21C6
        %span{:style => "white-space:nowrap;max-width:0px;"}
          = good[:count] * good[:price]
      %td

  %tr.R14
    %td
      %div{:style => "position:relative; height:9px;width: 100%; overflow:hidden;"}
        %span
    %td.R22C1
      %div{:style => "position:relative; height:9px;width: 100%; overflow:hidden;"}
        %span
    %td.R22C1
      %div{:style => "position:relative; height:9px;width: 100%; overflow:hidden;"}
        %span
    %td.R22C1
      %div{:style => "position:relative; height:9px;width: 100%; overflow:hidden;"}
        %span
    %td.R22C1
      %div{:style => "position:relative; height:9px;width: 100%; overflow:hidden;"}
        %span
    %td.R22C1
      %div{:style => "position:relative; height:9px;width: 100%; overflow:hidden;"}
        %span
    %td.R22C1
      %div{:style => "position:relative; height:9px;width: 100%; overflow:hidden;"}
        %span
    %td
      %div{:style => "width:100%;height:9px;overflow:hidden;"}  
  %tr.R4
    %td.R23C5{:colspan => "6"}
      %span{:style => "white-space:nowrap;max-width:0px;"} Итого:
    %td.R23C5
      %span{:style => "white-space:nowrap;max-width:0px;"}
        = @doc.total_summ
    %td

  - if @doc.nds.nil?
    %tr.R4
      %td.R23C5{:colspan => "6"}
        %span{:style => "white-space:nowrap;max-width:0px;"} Без налога (НДС)
      %td.R23C5
        %span{:style => "white-space:nowrap;max-width:0px;"} -
      %td
  - else
    %tr.R4
      %td.R23C5{:colspan => "6"}
        %span{:style => "white-space:nowrap;max-width:0px;"} Сумма НДС:
      %td.R23C5
        %span{:style => "white-space:nowrap;max-width:0px;"}
          = @doc.total_summ * @doc.nds
      %td

  %tr.R4
    %td.R23C5{:colspan => "6"}
      %span{:style => "white-space:nowrap;max-width:0px;"} Всего к оплате:
    %td.R23C5
      %span{:style => "white-space:nowrap;max-width:0px;"}
        = @doc.total_summ_to_pay
    %td
%table{:cellspacing => "0", :style => "width:0px; height:0px; "}
  %col{:width => "7"}/
  %col{:width => "21"}/
  %col{:width => "21"}/
  %col{:width => "21"}/
  %col{:width => "21"}/
  %col{:width => "21"}/
  %col{:width => "21"}/
  %col{:width => "21"}/
  %col{:width => "21"}/
  %col{:width => "21"}/
  %col{:width => "21"}/
  %col{:width => "21"}/
  %col{:width => "21"}/
  %col{:width => "21"}/
  %col{:width => "17"}/
  %col{:width => "16"}/
  %col{:width => "17"}/
  %col{:width => "17"}/
  %col{:width => "21"}/
  %col{:width => "21"}/
  %col{:width => "21"}/
  %col{:width => "21"}/
  %col{:width => "21"}/
  %col{:width => "21"}/
  %col{:width => "21"}/
  %col{:width => "21"}/
  %col{:width => "21"}/
  %col{:width => "21"}/
  %col{:width => "21"}/
  %col{:width => "21"}/
  %col{:width => "21"}/
  %col{:width => "21"}/
  %col{:width => "11"}/
  %tr.R4
    %td
      %span
    %td.R26C1{:colspan => "32"}
      %span{:style => "white-space:nowrap;max-width:0px;"}
        Всего наименований 
        = @doc.total_count
        , на сумму 
        = @doc.total_summ_to_pay
        руб.
    %td
  %tr.R4
    %td
      %span
    %td.R18C5{:colspan => "31"}
      = RuPropisju.rublej(@doc.total_summ).mb_chars.capitalize.to_s
    %td
      %span
    %td
  %tr.R14
    %td
      %div{:style => "position:relative; height:9px;width: 100%; overflow:hidden;"}
        %span
    %td.R14C1
      %div{:style => "position:relative; height:9px;width: 100%; overflow:hidden;"}
        %span
    %td.R14C1
      %div{:style => "position:relative; height:9px;width: 100%; overflow:hidden;"}
        %span
    %td.R14C1
      %div{:style => "position:relative; height:9px;width: 100%; overflow:hidden;"}
        %span
    %td.R14C1
      %div{:style => "position:relative; height:9px;width: 100%; overflow:hidden;"}
        %span
    %td.R14C1
      %div{:style => "position:relative; height:9px;width: 100%; overflow:hidden;"}
        %span
    %td.R14C1
      %div{:style => "position:relative; height:9px;width: 100%; overflow:hidden;"}
        %span
    %td.R14C1
      %div{:style => "position:relative; height:9px;width: 100%; overflow:hidden;"}
        %span
    %td.R14C1
      %div{:style => "position:relative; height:9px;width: 100%; overflow:hidden;"}
        %span
    %td.R14C1
      %div{:style => "position:relative; height:9px;width: 100%; overflow:hidden;"}
        %span
    %td.R14C1
      %div{:style => "position:relative; height:9px;width: 100%; overflow:hidden;"}
        %span
    %td.R14C1
      %div{:style => "position:relative; height:9px;width: 100%; overflow:hidden;"}
        %span
    %td.R14C1
      %div{:style => "position:relative; height:9px;width: 100%; overflow:hidden;"}
        %span
    %td.R14C1
      %div{:style => "position:relative; height:9px;width: 100%; overflow:hidden;"}
        %span
    %td.R14C1
      %div{:style => "position:relative; height:9px;width: 100%; overflow:hidden;"}
        %span
    %td.R14C1
      %div{:style => "position:relative; height:9px;width: 100%; overflow:hidden;"}
        %span
    %td.R14C1
      %div{:style => "position:relative; height:9px;width: 100%; overflow:hidden;"}
        %span
    %td.R14C1
      %div{:style => "position:relative; height:9px;width: 100%; overflow:hidden;"}
        %span
    %td.R14C1
      %div{:style => "position:relative; height:9px;width: 100%; overflow:hidden;"}
        %span
    %td.R14C1
      %div{:style => "position:relative; height:9px;width: 100%; overflow:hidden;"}
        %span
    %td.R14C1
      %div{:style => "position:relative; height:9px;width: 100%; overflow:hidden;"}
        %span
    %td.R14C1
      %div{:style => "position:relative; height:9px;width: 100%; overflow:hidden;"}
        %span
    %td.R14C1
      %div{:style => "position:relative; height:9px;width: 100%; overflow:hidden;"}
        %span
    %td.R14C1
      %div{:style => "position:relative; height:9px;width: 100%; overflow:hidden;"}
        %span
    %td.R14C1
      %div{:style => "position:relative; height:9px;width: 100%; overflow:hidden;"}
        %span
    %td.R14C1
      %div{:style => "position:relative; height:9px;width: 100%; overflow:hidden;"}
        %span
    %td.R14C1
      %div{:style => "position:relative; height:9px;width: 100%; overflow:hidden;"}
        %span
    %td.R14C1
      %div{:style => "position:relative; height:9px;width: 100%; overflow:hidden;"}
        %span
    %td.R14C1
      %div{:style => "position:relative; height:9px;width: 100%; overflow:hidden;"}
        %span
    %td.R14C1
      %div{:style => "position:relative; height:9px;width: 100%; overflow:hidden;"}
        %span
    %td.R14C1
      %div{:style => "position:relative; height:9px;width: 100%; overflow:hidden;"}
        %span
    %td.R14C1
      %div{:style => "position:relative; height:9px;width: 100%; overflow:hidden;"}
        %span
    %td.R14C1
      %div{:style => "position:relative; height:9px;width: 100%; overflow:hidden;"}
        %span
    %td
      %div{:style => "width:100%;height:9px;overflow:hidden;"}  
  %tr
    %td
      %span
    %td
      %span
    %td
      %span
    %td
      %span
    %td
      %span
    %td
      %span
    %td
      %span
    %td
      %span
    %td
      %span
    %td
      %span
    %td
      %span
    %td
      %span
    %td
      %span
    %td
      %span
    %td
      %span
    %td
      %span
    %td
      %span
    %td
      %span
    %td
      %span
    %td
      %span
    %td
      %span
    %td
      %span
    %td
      %span
    %td
      %span
    %td
      %span
    %td
      %span
    %td
      %span
    %td
      %span
    %td
      %span
    %td
      %span
    %td
      %span
    %td
      %span
    %td
      %span
    %td  
  %tr.R4
    %td
      %span
    %td.R30C1{:colspan => "5"}
      %span{:style => "white-space:nowrap;max-width:0px;"} Руководитель
    %td.R30C6
      %span
    %td.R30C6
      %span
    %td.R30C6
      %span
    %td.R30C6
      %span
    %td.R30C10{:colspan => "9"}
      %span{:style => "white-space:nowrap;max-width:0px;"}
        = @doc.chief_name
    %td
      %span
    %td.R30C1{:colspan => "4"}
      %span{:style => "white-space:nowrap;max-width:0px;"} Бухгалтер
    %td.R30C6
      %span
    %td.R30C6
      %span
    %td.R30C6
      %span
    %td.R30C10{:colspan => "6"}
      %span{:style => "white-space:nowrap;max-width:0px;"}
        = @doc.accountant_name
    %td
